doctype html
head
  title Real Time Chat
  link(rel="stylesheet", href="/components/boostrap/dist/css/bootstrap.css")
  link(rel="stylesheet", href="/css/style.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(scr="/components/boostrap/dist/js/bootstrap.js")
  script(src="/js/main.js")
  script(src="/socket.io/socket.io.js")
body
  navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") eChat
  .container.pt-5.mt-3
    .row
      .col-md-8
        #error
        #userFormWrap
          h5 Create Username
          form#userForm
            input#username.form-control(type="text", placeholder="Enter Username...")
            br
            button.btn.btn-success(type="submit") Submit
        br
        #mainWrap
          h5 Speak Your Mind
          form#chatForm
            .form-group
              textarea#chatInput.form-control(name="body", placeholder="Say Something...")
              br
              button.btn.btn-success(type="submit") Submit
              br
              br
            #chatWindow.well

      .col-md-4
        h5 Chat Users
        ul.list-group
          #users
